.sd-list-item {
    background-color: antiquewhite;
    display: flex;
    align-item: center;
    justify-content: flex-start;
}

.sd-list-item__icon {
    background-color: grey;
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}

.sd-list-item__body {

}